.image-item {
    column-count: 5; /* Số cột */
    column-gap: 15px; /* Khoảng cách giữa các cột */
}

.image-item img {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 15px;
    break-inside: avoid;
}

/* TODO lg */
@media screen and (max-width: 992px) {
    .image-item {
        column-count: 4;
    }
}

/* TODO md */
@media screen and (max-width: 768px) {
    .image-item {
        column-count: 3;
    }
}
/* TODO sm */
@media screen and (max-width: 576px) {
    .image-item {
        column-count: 2;
    }
}
