<div class="modal fade" id="modal_edit">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-title">
                    <i class="bi bi-pencil-fill"></i>
                    <span id="img_title_edit"></span>
                </strong>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="alert alert-success text-center font-weight-bolder mb-0 " id="box_noti_modal_edit">
                            <span id="icon_noti_modal_edit"></span>
                            <span id="content_noti_modal_edit"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 mb-3">
                            <div class="form-group">
                                <label>Tiêu đề hình ảnh</label>
                                <textarea id="image_title_input" class="form-control"
                                    placeholder="nhập tiêu đề hình ảnh..." aria-describedby="helpId"
                                    rows="2"></textarea>

                                <small id="helpId" class="text-muted">
                                    Khi tải lên tiêu đề sẽ được đặt ngẫu nhiên.
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <img src="" id="img_edit">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-center">
                <input type="text" id="image_edit_id" readonly hidden>
                <button type="button" class="btn btn-sm btn-primary" id="btn_update">
                    <i class="fas fa-pen-square"></i>
                    Cập nhật
                </button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>