<div class="modal fade" id="modal_upload">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-title"><i class="bi bi-upload"></i> Tải ảnh lên</strong>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body px-5">
                <!-- <div class="text-black-80">
                    <p>
                        <i class="bi bi-info-circle text-info"></i>
                        Sao lưu giúp lưu trữ lại nội dung ghi chú an toàn,
                        phòng khi bạn vô tình xóa mất nội dung quan trọng.
                    </p>
                    <p>
                        <i class="bi bi-info-circle text-info"></i>
                        Hãy đặt commit để phân biệt các phiên lưu trữ.
                    </p>
                </div> -->
                <div class="mt-2">
                    <!-- <div class="form-group">
                        <label>
                            Tiêu đề của ảnh
                        </label>
                        <input type="text" class="form-control mt-1" id="title" maxlength="255"
                            placeholder="nhập tiêu đề">
                    </div> -->
                    <div class="form-group">
                        <label>
                            Chọn ảnh
                        </label>
                        <input type="file" class="form-control-file border" id="img_upload">
                    </div>

                </div>
                <!-- 
                <div class="alert alert-danger font-weight-bolder mt-2" id="box_noti_modal_backup">
                    <span id="icon_noti_modal_backup"></span>
                    <span id="content_noti_modal_backup"></span>
                </div> -->
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-sm btn-success" id="btn_upload">
                    <!-- <i class="bi bi-upload"></i> -->
                    <i class="fas fa-upload"></i>
                    Tải lên hình ảnh
                </button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>